.Cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: var(--margin);
    margin-left: var(--margin);
    margin-top: var(--margin);
    position: relative; /* Hack To Fix Navbar CSS Bug */
}