.dropdown {
    display: flex;
    width: 300px;
    flex-direction: column;
    gap: 4px;
    margin: 0;
    background: #fff;
    border: 1px solid #7f7f7f;
    border-radius: 8px;
    box-shadow: 1px 2px 4px #000;
    position: absolute;
}

.dropdown-item {
    width: calc(100% - 20px);
    padding: 10px;
    cursor: pointer;
    background: #fff;
    border-radius: inherit;
}

.dropdown-item:hover {
    background: #ececec;
}