---
import Layout from '../layouts/Layout.astro';

import Link from '../components/Link';

import '../styles/faq.css';
---

<Layout title="The Red-Tailed Read">
    <main>
        <br>
        <h1>How can I submit articles or art to&nbsp<i>The Red-Tailed Read</i>?</h1>
        <p>
            You can submit art and articles to&nbsp;<i>The Red-Tailed Read</i>&nbsp;by clicking&nbsp;<i>"Join The Crew!"</i>&nbsp;in the navbar.
        </p>

        <br>
        <h1>What if I only want to submit my work once (or twice)?</h1>
        <p>
            If you fill out the&nbsp;<i>"Join The Crew!"</i>&nbsp;form it should ask you if you are just going to submit once or many times.
        </p>

        <br>
        <h1>How often does&nbsp;<i>The Red-Tailed Read</i>&nbsp;get released?</h1>
        <p>
            We attempt to release&nbsp;<i>The Red-Tailed Read</i>&nbsp;at the begining of each month but we usually release it later.
        </p>

        <br>
        <h1>How can I support&nbsp;<i>The Red-Tailed Read</i>?</h1>
        <p>
            The best ways to support us are, spreading the word and submiting articles or art.
        </p>

        <br>
        <h1>How can I contact you?</h1>
        <p>
            We actually have an email! If you need any support please email&nbsp;<Link url="mailto:montclair-reads@outlook.com">montclair-reads@outlook.com</Link>.
        </p>
    </main>
</Layout>